@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.a {
  text-decoration: none;
  color: #000;
}

#body {
  height: 100vh;
  width: 100%;
}

#header {
  background-color: #fff;
  height: 12vh;
  border-bottom-color: #FF0B0B;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

#imgLogo {
  position: relative;
  width: 140px;
  height: 50px;
  margin-bottom: 10px;
}

.navegacao {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pages1 {
  gap: 15px;
  margin-left: 5vh;
}

.text {
  font-weight: 400;
  font-size: 18px;
  border-width: 0;
  background-color: transparent;
}

.text:hover {
  color: #FF0B0B;
  border-bottom: 2px solid #FF0B0B;
}

.bi-bag {
  font-size: 25px;
}

.bi-bag:hover {
  color: #FF0B0B;
}

/* Main */

#main-Content {
  height: 75vh;
  width: 100%;
}

#content {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img {
  background-image: url("./pizza-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 70vh;
  margin-left: 15px;
}

#login {
  height: 70vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 35px;
}

.inputs {
  font-size: 20px;
  background-color: transparent;
  width: 85%;
  border: none;
  border-bottom: 2px solid #FF0B0B;
}

#password {
  font-size: 20px;
  background-color: transparent;
  width: 90%;
  border: none;
}

#eye {
  font-size: 23px;
}

#buttonShow {
  background-color: transparent;
  border: none;
}

.inputs:focus,
#password:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#btn-submit {
  margin-top: 35px;
  color: white;
  border-radius: 25px;
  width: 45%;
  font-size: 18px;
  height: 6vh;
  background-color: #FF0B0B;
  border: 0px;
}

#btn-submit:hover {
  transition: 0.3s;
  background-color: transparent;
  color: #000000;
  border: 2px solid #FF0B0B;
}

#span-texts {
  font-size: 18px;
  color: #FF0B0B;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
}

.texts {
  color: #FF0B0B;
  text-decoration: none;
}

.texts:hover {
  color: #a12828;
}


/* footer */

.footer-body {
  background-color: #ECECEC;
  color: #000;
  border-top-color: #999;
  border-top-width: 3px;
  border-top-style: solid;
  display: flex;
  height: 13vh;
  flex-wrap: wrap;
  font-size: 17.5px;
}

#footerIcons {
  width: 100%;
  display: flex;
  margin: 10px 10px 0px 10px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  width: 100%;
}

#trabalhe,
#textFooter {
  font-weight: 400;
  cursor: pointer;
}

#textFooter:hover {
  color: #999;
}

#trabalhe:hover {
  color: #999;
}

@media(max-width: 1120px) {
  .pages1 {
    gap: 5px;
    margin-left: 0vh;
  }
}

@media(max-width: 990px) {

  #img {
    height: 0vh;
    width: 0vh;
  }

  #login {
    height: 45vh;
  }

  .text,
  .bi-bag {
    color: #fff;
  }

  .pages1,
  .pages2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .text:hover,
  .bi-bag:hover {
    color: #999;
    border: 0px;
  }

  #offcanvasNavbar {
    width: 30%;
    background-color: rgba(48, 44, 44, 0.4);
  }
}

@media(max-width: 605px) {

  #offcanvasNavbar {
    width: 40%;
  }

  .text {
    font-size: 13px;
  }
}

@media(max-width: 500px) {

  #imgLogo {
    width: 140px;
    height: 35px;
    margin-bottom: 0px;
  }

  #btn-submit {
    font-size: 16px;
    height: 5vh;
    border-radius: 15px;
  }

  #span-texts {
    font-size: 13px;
  }

  .footer-body {
    font-size: 13.5px;
  }

  #textFooter {
    width: 35px;
    height: 25px;
  }

  #footerIcons {
    flex-wrap: wrap;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width: 350px) {

  .inputs {
    width: 70%;
  }

  #eye {
    font-size: 15px;
  }

  #password {
    width: 85%;
  }

  #btn-submit {
    height: 4vh;
  }

  #span-texts {
    font-size: 10px;
  }

  #offcanvasNavbar {
    width: 50%;
  }
}