* {
    margin: 0;
    padding: 0;    
}



#body {
    background-image: url(../assets\ Develop/pizza_vertical_rawpixel_350-opacidade-lv-10.png) ;
    background-repeat: repeat-y;
    background-position: right;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-titulo-principal {
    display: flex;
    justify-content: center;
    margin: 10vh;
}

.section-imagem-romeu-julieta {
    display: flex;
    justify-content: center;

}



#imagem-pizza-romeu-julieta { 
    width: 150vh;
    height: 110vh;
    box-shadow: 5px 5px 15px;
    border-radius: 10px;
}


.dica{
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

.subdica{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description{
    padding-top: 15px;
    padding-left: 15px;
}

.description_link{
    padding-top: 15px;
    padding-left: 15px;
  }

.subtitulo-ingredientes-romeu-julieta {
    margin-left: 26vh;
    margin-top: 5px;    
    margin-bottom: 30px;
} 

.div-ingredientes {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
    margin-left: 26vh;
}

.romeuejulieta-recheio, .romeuejulieta-cobertura, .romeuejulieta-massa {
    margin-bottom: 20px;
    margin-right: 20px;
}

.subtitulo-massa, .subtitulo-cobertura, .subtitulo-recheio {
    margin-bottom: 30px;
}

.subtitulo-modo-de-preparo {
    margin-left: 26vh;
    margin-top: 40px;    
    margin-bottom: 20px;
}

.section-modo-preparo-massa-pizza {
    width: 70%;
    height: 550px;
    margin-left:26vh ;
        
}

.subtitulo-modo-massa, .subtitulo-modo-pizza {
    
    margin-top: 30px;
    margin-bottom: 20px;
}


.links {
    padding: 0px 130px;
}
  
.title_2 {
    padding: 0 50px 30px 50px;
}

/* Glider.js ---*/

.glider-contain {
    max-width: 90%;
  
}
  
.glider {
    margin-left: 20px;
    margin-bottom: 40px;
}
  
.glider-slide {
    display: flex;
}
  
.glider-slide:hover {
    opacity: 0.3;
}
  
.img-slide {
    border-radius: 10px;
}
  
/* Glider.js fim ---*/