
* {
    margin: 0;
    padding: 0;    
}

#body {
    /* font-family: 'Open Sans', sans-serif;
    font-size: 400;  */
    background-image: url(../assets\ Develop/pizza_vertical_rawpixel_350-opacidade-lv-10.png) ;
    background-repeat: repeat-y;
    background-position: right;
    background-size: 50vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imagem-banana-nevada{
    width: 150vh;
    box-shadow: 5px 5px 15px;
    border-radius: 10px;
}
#imagem-pizza-banana-nevada{
    width :60px;
}

#icon{
    width :60px;
}


.main-titulo-principal {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.section-imagem-banana-nevada{
    display: flex;
    justify-content: center;
    
}

#imagem-pizza-banana-nevada {
    margin: 35px;
 
} 



.dica{
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

.subdica{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description{
    padding-top: 15px;
    padding-left: 15px;
}
   
.description_link{
    padding-top: 15px;
    padding-left: 15px;
}




.section-subtitulo-ingredientes-banana-nevada{
    margin-left: 26vh;
    margin-top: 20px;    
    margin-bottom: 28px;
   
}


.div-ingredientes {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
    margin-left: 26vh;
}

.cobertura-banana-nevada{
    margin-left: 8px;
}


.subtitulo-modo-de-preparo {
    margin-left: 26vh;
    margin-top: 30px;    
    margin-bottom: 28px;
}

.section-modo-preparo-massa-e-pizza {
    width: 70%;
    height: 530px;
    margin-left:26vh ;
}

.subtitulo-modo-pizza, .subtitulo-modo-massa {
    margin-top: 20px;
    margin-bottom: 10px;
}

.links {
    padding: 0px 130px;
}
  
.title_2 {
    padding: 0 50px 30px 50px;
}

/* Glider.js ---*/

.glider-contain {
    max-width: 90%;
  
}
  
.glider {
    margin-left: 20px;
    margin-bottom: 40px;
}
  
.glider-slide {
    display: flex;
}
  
.glider-slide:hover {
    opacity: 0.3;
}
  
.img-slide {
    border-radius: 10px;
}
  
/* Glider.js fim ---*/ 



/*MEDIA QUERIES -----------------------------*/


/* Header - home pricing cardapio*/
@media (max-width: 1300px){
    .pages1 {
        margin-left: 25px;
        font-weight: 300;
        font-size: 10px;
        height: 8vh;
        gap: 2px 0px;
        background-color: white;
        
    }
    #imgLogo {
        width: 150px;
        height: 40px ;
    }

}

/* Main ---*/
@media(max-width: 1000px){
    .section-imagem-banana-nevada{
        width: 70vh;
        height: 55vh;
        margin-left: 30vh;
    }
    
    #imagem-video-chef-jose{
        width:60vh;
        height:40vh;
        margin-left: 3vh;
        margin-bottom: 10px;
    }
    .section-subtitulo-ingredientes-banana-nevada{
        margin-top: 5vh;
        margin-bottom: 20px;
        margin-left: 50vh;
        background-color: beige;
        width: 35vh;
        border-radius: 30px;
        text-align: center;
        padding: 2px
    }
    .section-ingredientes{
        display: flex;
        flex-direction: column;
    }
    .massa-banana-nevada{
        margin-left:5vh ;
    } 
    .subtitulo-modo-de-preparo{
        margin-top: 30px;
        margin-bottom: 5px;
        margin-left: 50vh;
        background-color: beige;
        width: 35vh;
        border-radius: 30px;
        text-align: center;
        padding: 2px;
       
    }
    .subtitulo-modo-massa{
        margin-top: 20px;
    }
    .section-modo-preparo-massa-e-pizza{
        margin-left: 20px;
        margin-bottom: 20px;
        height: 86vh;
       
    }
    .subtitulo-mais-receitas-menu-horizontal{
        margin-top: 30px;
        margin-bottom: 8px;
        margin-left: 50vh;
        background-color: beige;
        width: 35vh;
        border-radius: 30px;
        text-align: center;
        padding: 2px;
       
    }
    .section-mais-receitas-menu-horizontal{
        margin-top: 30px;
    }
    .mais-receitas-miniaturas-do-menu{
        width: 8vh;
        height: 10hv;
    }
}

@media(max-width:860px){ 
 /*colocar aqui para tamanhos de tablets*/
}


/*depois coloque tamanho para celulares*/