
* {
    margin: 0;
    padding: 0;    
}

#body {
    /* font-family: 'Open Sans', sans-serif;
    font-size: 400;  */
    background-image: url(../assets\ Develop/pizza_vertical_rawpixel_350-opacidade-lv-10.png) ;
    background-repeat: repeat-y;
    background-position: right;
    background-size: 50vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imagem-banana-nevada{
    width: 150vh;
    box-shadow: 5px 5px 15px;
    border-radius: 10px;
}
#imagem-pizza-banana-nevada{
    width :60px;
}

#icon{
    width :60px;
}


.main-titulo-principal {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.section-imagem-banana-nevada{
    display: flex;
    justify-content: center;
    
}

#imagem-pizza-banana-nevada {
    margin: 35px;
 
} 



.dica{
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

.subdica{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description{
    padding-top: 15px;
    padding-left: 15px;
}
   
.description_link{
    padding-top: 15px;
    padding-left: 15px;
}




.section-subtitulo-ingredientes-banana-nevada{
    margin-left: 26vh;
    margin-top: 20px;    
    margin-bottom: 28px;
   
}


.div-ingredientes {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
    margin-left: 26vh;
}

.cobertura-banana-nevada{
    margin-left: 8px;
}


.subtitulo-modo-de-preparo {
    margin-left: 26vh;
    margin-top: 30px;    
    margin-bottom: 28px;
}

.section-modo-preparo-massa-e-pizza {
    width: 70%;
    height: 530px;
    margin-left:26vh ;
}

.subtitulo-modo-pizza, .subtitulo-modo-massa {
    margin-top: 20px;
    margin-bottom: 10px;
}

.links {
    padding: 0px 130px;
}
  
.title_2 {
    padding: 0 50px 30px 50px;
}

/* Glider.js ---*/

.glider-contain {
    max-width: 90%;
  
}
  
.glider {
    margin-left: 20px;
    margin-bottom: 40px;
}
  
.glider-slide {
    display: flex;
}
  
.glider-slide:hover {
    opacity: 0.3;
}
  
.img-slide {
    border-radius: 10px;
}
  
/* Glider.js fim ---*/ 



/*MEDIA QUERIES -----------------------------*/
@media(max-width: 1360px){
    .imagem-banana-nevada{
        width: 130vh;
        height: 95vh;
        box-shadow: 5px 5px 15px;
        border-radius: 10px;
    }
}


@media(max-width: 1260px){
    .imagem-banana-nevada{
        width: 120vh;
        height: 90vh;
        box-shadow: 5px 5px 15px;
        border-radius: 10px;
    }

    .div-ingredientes{
        width: 78vh;
    }
 
    .title_2 {
        padding: 0 50px 30px 50px;
        margin-left: 30px;
    }
    .glider-contain {
        max-width: 80%;
      
    }
}

@media(max-width: 1195px){
    img#icon{
        width: 45px;
    }

    .div-ingredientes{
        width: 70vh;
    }


}

@media(max-width: 1087px){
    .imagem-banana-nevada{
        width: 110vh;
        height: 85vh;
    }
    .main-titulo-principal{
        font-size:35px;
    }

    .div-ingredientes{
        width: 100vh;
    }

    .glider-contain {
        max-width: 65%;
              
    }

    .title_2 {
        padding: 0 50px 30px 50px;
        margin-left: 30px;
    }
}

@media(max-width: 1017px){
    .main-titulo-principal{
        font-size:30px;
    }

    .div-ingredientes{
        width: 80vh;
    }

    .section-modo-preparo-massa-pizza{
        width: 80vh;
        
    }

    .links{
        margin-top: 50px;
    }

    .glider-contain {
        max-width: 75%;
              
    }

    .title_2 {
        padding: 0 50px 30px 50px;
        margin-left: 30px;
    }
}




@media(max-width: 971px){

    .imagem-banana-nevada{
        width: 95vh;
        height: 80vh;
        box-shadow: 5px 5px 15px;
        border-radius: 10px;
    } 


    img#icon{
        width: 35px;
    }
    .main-titulo-principal{
        font-size:27px;
    }

    .section-subtitulo-ingredientes-banana-nevada{
        margin-left: 120px;
    }
    .div-ingredientes{
        margin-left: 120px; 
    }

    .subtitulo-modo-de-preparo{
        margin-left: 120px;
    }

    .section-modo-preparo-massa-e-pizza{
        margin-left: 120px;
    }

    /* .glider-contain {
        max-width: 72%;
              
    } */

    .title_2 {
        padding: 0 50px 30px 50px;
        margin-left: 30px;
    }
}


@media(max-width: 820px){

    .imagem-banana-nevada{
        width: 88vh;
        height: 78vh;
        box-shadow: 5px 5px 15px;
        border-radius: 10px;
    } 


    img#icon{
        width: 37px;
    }
    .main-titulo-principal{
        font-size:25px;
    }

    .dica{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 55px;

    }

    /* .subtitulo-ingredientes-romeu-julieta{
        margin-left: 55px; 
    } */

    .subtitulo-modo-de-preparo{
        margin-left: 55px;
    }

    .section-modo-preparo-massa-pizza{
        margin-left: 55px;
    }

    .div-ingredientes{
        display: flex;
        flex-direction: column;
        margin-left: 55px; 
    }

    .glider-contain {
        max-width: 72%;
              
    }

    .title_2 {
        padding: 0 50px 30px 50px;
        margin-left: 30px;
    }
}
