@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#body {
    height: 100vh;
    width: 100%;
    background-image: url("assets develop/background-1336-751.png")
        /*Nao Pegou*/
}

#noticias_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-image: url("assets develop/background-1336-751.png"); Nao PEGOU*/

}

#noticias_main_title {
    margin: 100px;
    /*top right bottom left*/
    display: flex;
    justify-content: flex-start;

}

.link-noticias {
    /*essa são as Divs*/
    background-color: rgb(248, 245, 245);
    border: 1px solid rgb(233, 233, 233);
    height: 117px;
    width: 800px;
    margin: 15px;
    /* margin-bottom: 20px;
    margin-top: 20px; */
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(126, 126, 126);
    text-decoration: none;
    /*NAO PEGOU, tive que fazer um hover*/

}

article#content {
    width: 900px;
    max-height: 1000px; /* PARA O READ MORE max-height: 275px; */
    overflow: hidden;  /*OVERFLOW, esconde o que excede da box*/
   
    transition: max-height 1s
}

article.open {
    /*classe para abrir o article. Usando a função JS*/
    background-color: rgb(206, 215, 216);
    /*NÃO TÁ ABRINDO !*/
    max-height: 1000px;
    transition: max-height 0.9s
}



#botao-mais {
    border: none;
    color: white;
    font-size: 1em;
    /*1em = 16px*/
    font-weight: bold;
    background-color: #4A58D5;
    width: 130px;
    height: 50px;
    border-radius: 40px;
    line-height: 45px;/*indica a posição que deseja na altura*/
    text-align: center;
    box-shadow: 1px 2px 8px rgb(47, 42, 61);
    



}

.main-noticias-paragrafo {
    text-decoration: none;
    color: black;
}

.main-noticias-paragrafo-a {
    text-decoration: none;
    text-align: center;
    /*NAO PEGOU*/
    margin-left: 50px;
    color: #000;
    font-weight: bold;
}

.main-noticias-paragrafo-a:hover {
    text-decoration: none;
    /*NÃO  PEGOU*/
    color: black;

}