* {
    margin: 0;
    padding: 0;    
}


#body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-titulo-principal {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.section-imagem-romeu-julieta {
    display: flex;
    justify-content: center;
}

#imagem-pizza-romeu-julieta { 
    margin: 35px;
    box-shadow: 3px 3px 10px rgb(80, 80, 80);
    
}

.section-imagem-video-chef {
    display: flex;
    justify-content: center;
    
}

.imagem-video-chef {
    margin: 20px;
    box-shadow: 2px 2px 8px rgb(82, 81, 81);
}


 .subtitulo-ingredientes{
    margin-left: 318px;
    margin-top: 90px;    
    margin-bottom: 60px;
   
} 

.section-ingredientes {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.romeuejulieta-recheio, .romeuejulieta-cobertura, .romeuejulieta-massa {
    margin-right: 60px;
}

.subtitulo-massa, .subtitulo-cobertura, .subtitulo-recheio {
    margin-bottom: 30px;
}

.subtitulo-modo-de-preparo {
    margin-left: 318px;
    margin-top: 90px;    
    margin-bottom: 60px;
}

.section-modo-preparo-massa-pizza {
    width: 70%;
    height: 550px;
    margin-left:318px ;
        
}

.subtitulo-modo-massa, .subtitulo-modo-pizza {
    
    margin-top: 65px;
    margin-bottom: 30px;
}


.subtitulo-mais-receitas-menu-horizontal {
    margin-left: 318px;
    margin-bottom: 60px;
}

.section-mais-receitas-menu-horizontal {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.span-imagem-arrow-left, .span-imagem-pizza-lowcarb-couveflor, .span-imagem-pizza-beterraba, .span-imagem-pizza-napolitana, .span-imagem-pizza-chocolate, .span-imagem-arrow-right {
   margin: 0 25px 10px;
}
