* {
    margin: 0;
    padding: 0;    
}


#body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-titulo-principal {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.section-imagem-romeu-julieta {
    display: flex;
    justify-content: center;
}

#imagem-pizza-romeu-julieta { 
    margin: 35px;
    box-shadow: 3px 3px 10px black;
}

.section-imagem-video-chef {
    display: flex;
    justify-content: center;
}

.imagem-video-chef {
    margin: 20px;
    box-shadow: 2px 3px 6px black;
}


 .subtitulo-ingredientes{
    margin-left: 318px;
    margin-top: 90px;    
    margin-bottom: 60px;
   
} 

.section-ingredientes {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.romeuejulieta-recheio, .romeuejulieta-cobertura, .romeuejulieta-massa {
    margin-right: 60px;
}

.subtitulo-massa, .subtitulo-cobertura, .subtitulo-recheio {
    margin-bottom: 30px;
}

.subtitulo-modo-de-preparo {
    margin-left: 318px;
    margin-top: 90px;    
    margin-bottom: 60px;
}

.section-modo-preparo-massa-pizza {
    width: 70%;
    height: 550px;
    margin-left:318px ;
    background-color: beige;
    
}

.subtitulo-modo-massa, .subtitulo-modo-pizza {
    
    margin-top: 65px;
    margin-bottom: 30px;
}
