.container_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.image_background{
    background-image: url(../assets\ Develop/pizza_fundo.svg) ;
    background-repeat: repeat-y;
    background-position: right;
}


.text_imagem-principal .h1-text{
    padding: 25px 0;
    text-align: center;
}



.ingredientes{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin-right: 75px;
}

.ingredientes_text{
    margin-left: 25px;
    text-align: justify;
}

.ingredientes_text h3{
    margin: 0 0 15px 0;
}
.ingredientes_text p{
    /* padding: 0; */
    margin: 0 0 8px 0;
}

.modoPreparo{
    text-align: center;
}
.modoPreparo h3{
    margin: 1em 28em 1em 0;
}

.modoPreparo_receita{   
    text-align: justify;
    margin: 0 450px;
}

.maisReceitas h1{
    margin: 50px 0 50px 120px;
}


.maisReceitas_imagens{
    display: flex;
    align-items: center;
    margin: 0 0 50px 0;
}

.maisReceitas_imagens a{
    padding: 0 25px;
    cursor: context-menu;
}

.maisReceitas_imagens a img, .maisReceitas_imagens img{
    cursor: pointer;
}




/* responsividade */


@media (max-width: 1200px) {

    .imagem-pizza{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }
    .imagem-pizza img{
        width: 50%;
    }

    .ingredientes{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .ingredientes_text{
        margin: 25px 0;
    }
    .modoPreparo h3{
        text-align: center;
        margin: 25px 0;
    }
    .modoPreparo_receita{
        margin: 0 150px;
    }


    .maisReceitas_imagens a{
        padding: 10px;
    }


    .maisReceitas_imagens img{
        width: 40px;
    }
    .maisReceitas_imagens a img{
        width: 125px;
        height: 80px;
    }
}


@media( max-width: 800px){

    .image_background{
        background-image: none ;
    }


    .maisReceitas_imagens_receitas{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    }

    .ingredientes_imagem a img{
        /* width: 50%; */
        width: 50%;
    }
    .ingredientes_imagem{
        text-align: center;
    }

    .modoPreparo_receita{
        margin: 0 20px;
        width: 80%;
    }

    .ingredientes_text{
        margin: 0;
        text-align: center;
    }
}