*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  .container-principal{
    margin: 50px;
    background-color: #D9D9D9;
    border-radius: 10px;
  }



.text-cardapio{
  text-align: center;
  padding: 20px 0;
}

.line{
  opacity: 1!important;
  margin: 0 30vh; 
}


.cardapio-pizzas, .cardapio-bebidas, .refrigerantes{
  display: flex;
  justify-content: space-around;
}


.pizzas-fundo, .bebidas-fundo{
  background-color: #E8E7E7;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 25px;
  margin: 30px 0;
}

.pizzas-texto, .bebidas-texto{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: bold;
}


.pizzas-buttons, .bebidas-buttons{
  display: flex;
  justify-content: space-around;
}
.pizzas-buttons button, .bebidas-buttons button{
  background-color: #15AF5F;
  color: #fff;
  border: none;
  padding: 5px 15px;
} 


@media( max-width: 1020px){

  .pizzas-fundo, .bebidas-fundo{
    width: 300px;
  }
  .pizzas-buttons button, .bebidas-buttons button{
    padding: 5px;
  }
}


@media( max-width: 750px){
  .cardapio-pizzas, .cardapio-bebidas, .refrigerantes{
    display: flex;
    flex-direction: column;
  }
  .pizzas-fundo, .bebidas-fundo{
    width: 100%;
  }

  .container-principal{
    padding: 25px;
  }

  .line{
    margin: 0 15vh;
  }
}


@media(max-width: 500px){
  .pizzas-texto, .bebidas-texto{
    display: flex;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
    /* padding: 0 20px; */
    font-weight: bold;
  }

  .pizzas-buttons, .bebidas-buttons{
    display: flex;
    flex-direction: column;
  }
  .pizzas-buttons button, .bebidas-buttons button{
    margin: 5px 0;
  } 
  .line{
    opacity: 0;
  }
}

